/* global settings */

body {
  font-family: 'Rye', cursive;
  padding: 0;
  margin: 80px 0 0 0;
}

p {
  margin: 0;
  font-family: 'REM', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

/* navigation */

header {
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: solid;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 450px;
}

#logo {
  width: 50px;
  margin: 5px 15px;
}

h1 {
  font-size: 26px;
  padding: 23px;
  margin: 0;
  background-color: goldenrod;
}

nav {
  display: flex;
  justify-content: right;
  flex-grow: 1;
}

.nav-item {
  padding: 27px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: background 0.15s;
}

.nav-item:hover {
  background-color: goldenrod;
}

.nav-item:active {
  opacity: 0.8;
}

/* main section */
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  font-size: x-large;
  margin: 36px;
}

.promo-img {
  height: 360px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.category-name {
  padding: 10px 0;
  background: goldenrod;
  width: 100%;
  text-align: center;
  font-size: larger;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  height: 300px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.book-img {
  height: 260px;
  box-shadow: 8px 8px 8px #888888;
  transition: height 0.15s;
}

.book-img:hover {
  height: 270px;
  cursor: pointer;
}

.more-cat {
  text-align: center;
  margin: 36px 0;
}

.bg3 {
  background-color: goldenrod;
  margin: 0;
  flex-direction: row;
  justify-content: center;
}

iframe {
  width: 720px;
  height: 405px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: goldenrod;
  border-top: solid;
}

.footer-item {
  text-decoration: none;
  color: black;
  padding: 15px 50px;
  transition: background-color 0.15s;
}

.footer-item:hover {
  background-color: white;
}
