/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Tran Bao Khoi
ID: s3926093
Acknowledgement: Wizards of the Coast, Amazon, Hit Point Press, Kickstarter, Critical Role
*/

p {
  padding: 36px;
  margin-bottom: 1000px;
}
