/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Tran Bao Khoi
ID: s3926093
Acknowledgement: Wizards of the Coast, Amazon, Hit Point Press, Kickstarter, Critical Role
*/

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  cursor: context-menu;
}

body {
  font-family: 'Rye', cursive;
  padding: 0;
  margin-top: 80px;
}

p {
  margin: 0;
  font-family: 'REM', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

a {
  color: black;
  cursor: pointer;
}
