.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  font-size: x-large;
  margin: 0 36px;
  padding: 15px 0;
}

.description img {
  max-width: 50%;
  height: auto;
}

@media (max-width: 992px) and (min-width: 769px) {
  .introduction {
    font-size: large;
  }
}

@media (max-width: 768px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }

  .description p {
    font-size: medium;
  }
}

@media (max-width: 600px) {
  .introduction {
    font-size: small;
  }

  ul {
    grid-template-columns: 1fr;
  }

  iframe {
    width: 200px;
    height: 150px;
  }

  .bg3 p {
    font-size: small;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .description p {
    font-size: large;
  }
}

@media (max-width: 768px) {
  .description p {
    font-size: medium;
  }
}

@media (max-width: 600px) {
  .description p {
    font-size: small;
  }
}
