/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Tran Bao Khoi
ID: s3926093
Acknowledgement: Wizards of the Coast, Amazon, Hit Point Press, Kickstarter, Critical Role
*/

.category-link {
  color: black;
  width: 100%;
  transition: color 0.15s;
}

section a:hover {
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.category-name {
  padding: 10px 0;
  background: goldenrod;
  width: 100%;
  text-align: center;
  font-size: larger;
}

ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-bottom: 26px;
}

li p {
  margin: 10px 0;
}

.book-img {
  height: 260px;
  box-shadow: 8px 8px 8px #888888;
  transition: height 0.15s;
}

.book-img:hover {
  height: 270px;
  cursor: pointer;
}

@media (max-width: 992px) and (min-width: 769px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  li:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  ul {
    grid-template-columns: 1fr;
  }
}
